.week-switcher {
  display: flex;
  margin: 1em;
  justify-content: center;
  align-items: center;
}

.week-switcher__text {
  line-height: 1;
}

.week-switcher__button--hidden {
  visibility: hidden;
}
