.meal-plan-entry-view {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.meal-plan-entry-view__image {
  height: 18em;
  max-width: 30em;
  margin-top: 0.5em;
  align-self: center;
  object-fit: cover;
}

.meal-plan-entry-view__title {
  margin-top: 1.5em;
}
