.daily-meal-plan-list-item .daily-meal-plan-list-item__image {
  min-width: 7em;
  width: 7em;
  min-height: 4em;
  height: 4em;
  margin-right: 1em;
  object-fit: cover;
  border-radius: 0.5em;
}

.daily-meal-plan-list-item__text.daily-meal-plan-list-item__text--no-image {
  margin-left: 8em;
}
